<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <display-name>SchoolBusSystem</display-name>
    
    <!-- Cấu hình thời gian sống của Session (30 phút) -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    
    <!-- Cấu hình tên miền bắt buộc cho Email -->
    <context-param>
        <param-name>ALLOWED_EMAIL_DOMAIN</param-name>
        <param-value>@gmail.com, @yahoo.com, @fpt.edu.vn</param-value>
    </context-param>
    
    <!-- Cấu hình trang khởi động mặc định (khi truy cập thư mục gốc /) -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>dang_nhap.jsp</welcome-file>
    </welcome-file-list>
</web-app>
